@media screen and (max-width: 768px) {
  h1 {
    text-align: center;
    color:green;
  }
  
  h2 {
    color: seagreen;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }
  
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  h1 {
    text-align: center;
    color: yellow;
  }
  
  h2 {
    color: seagreen;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }
  
}

@media screen and (max-width: 480px) {
  h1 {
    text-align: center;
    color: red;
  }
  
  h2 {
    color: seagreen;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
  }
  
}